@charset "UTF-8";
@font-face{
	font-family:idroid;
	src:url(fontes/idroid.otf);
}
@font-face{
	font-family:BebasNeue;
	src:url(fontes/BebasNeue-Regular.ttf);
	weight:normal;
}
:root{
	--cor1:#C5EBD6;
	--cor2:#83E1AF;
	--cor3:#3DDC84;
	--cor4:#2FA866;
	--cor5:#063D1E;
	--arial:Arial,Helvetica,Sans-serif;
	--cursive:"Bebas Neue", cursive;
	--droid:idroid,sans-serif;
}
body{
	background-color:var(--cor1);
	min-width:300px;
	max-width:800px;
	margin:auto;
	font-family:var(--arial);
}
header{
	height:200px;
	background-image:linear-gradient( #3DDC84, #063D1E);
	width:100%;
	box-shadow:2px 2px 2px rgba(0,0,0,0.466);
	margin-left:0px;
	margin-top:-12px;
}
header>h1{
	font-size:26px;
	font-family:BebasNeue;
	text-align:center;
	text-shadow:20px 20px 20px,rgba(0,0,0,0.466);
	color:white;
	padding-top:45px;
	margin-top:0px;
	font-weight:normal;
}
.lema{
	font-size:10px;
	font-family:var(--arial);
	text-align:center;
	color:white;
	margin-top:-19px;
}
.menu{
	text-decoration:none;
	padding:10px;
	margin-left:1px;
	color:white;
  font-size:10px;
  border-radius:5px;
}
.menu:hover{
	background-color:var(--cor3);
	color:var(--cor5);
	transition-duration:0.5s;
}
main{
	background-color:white;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	box-shadow:0px 0px 5px rgba(0,0,0,0.466);
	margin-top:-16px;
	width:100%;
}
main p{
	text-indent:15px;
	line-height:1.5em;
}
.img{
	width:65%;
	display:block;
	margin:auto;
}
#titulo{
	padding-top:10px;
	color:var(--cor5);
	margin-left:15px;
	font-style:normal;
}
main h1,.subtitulo{
	font-family:var(--droid);
	color:var(--cor5);
	margin-left:18px;
}
.subtitulo{
	background-image:linear-gradient(90deg,#C5EBD6, white);
	font-size:1.4em;
	font-weight:normal;
}
p{
	text-align:justify;
	margin-left:3%;
	margin-right:3%;
}
.redirecionar{
	background-color:var(--cor3);
	text-decoration:none;
	color:black;
}
span{
	background-color:var(--cor3);
	color:var(--cor5);
	font-weight:bold;
}
a{
	color:var(--cor5);
	font-weight:bold;
}
a:hover{
	text-decoration:underline;
	background-color:green;
	transition-duration:0.5s;
}
.video{
	position:relative;
	background-color:var(--cor5);
	height:0px;
	margin-bottom:15px;
	padding-bottom:59%;
}
div.video > iframe{
	position:absolute;
	top:5%;
	left:5%;
	width:90%;
	height:90%;
}
aside{
	background-color:var(--cor2);
	border-radius:10px;
	margin-bottom:-3px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.466);
	margin-left:10px;
	margin-right:10px;
}
.text-aside{
	text-align:center;
	color:white;
	font-family:var(--arial);
	background-color:var(--cor4);
	border-radius:10px 10px 0px 0px;
}
ul{
	list-style-type:"\2714";
	columns:2;
	list-style-position:inside;
}
footer{
	background-color:var(--cor5);
	color: white;
	min-width:300px;
	max-width:1000px;
	height:50px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.466);
	text-align:center;
}
footer p{
	font-size:16px;
	text-align:center;
	font-family:var(--arial);
}